@media screen and (max-width: 576px) {
    /* common styles */
    nav{
        display: none;
    }
    .container{
        margin: 10px 10px 0 10px;
    }
    /* top-nav styles */
    .top-nav li{
        list-style: none;
    }
    .top-nav li a{
        text-decoration: none;
        color: black;
    }
    /* header section */

    .header-contents{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 0;
        /* background-color: aqua; */
    }
    .header-info{
        width: 390px;
        padding: 0%;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-tittle{
        font-size: 28px;
        font-weight: 700;
        color: #3A3A3A;
        margin-bottom: 16px;
        
    }
    .header-details{
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        width: 321px;
        color: #3A3A3A;
    }
    .header-banner{
        margin-bottom: 14px;
    }
    .header-banner img{
        margin: 0;
        width: 202px;
        height: 190px;

    }
    .header-button{
        background-color: #E02C6D;
        width: 196px;
        text-align: center;
        padding: 0px 24px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 41px;
        margin-top: 16px;
        margin-bottom: 50px;
    }
    /* company section */
.companies{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 275px;
    padding: 40px;
    margin: 0;
    gap: 20px;
}
.first-companies{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0;
}
.first-companies img{
    width: 50px;
    height: 15px;
}


}
@media screen and (min-width: 577px){
    /* common */
    .hide{
        display: none;
    }
}
