/* common styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Open+Sans:ital@1&family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');
*{
     font-family: 'Poppins', sans-serif;
}
.container{
    margin: 10px 120px 0 120px;
}
/*********************************
********top-nav-bar styles********
**********************************/
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding-right: 34px;
    font-size: 16px;
    font-weight: 600;
}

/* header-info and thumnail styles */

.header-contents{
    display: flex;
    /* background-color: aqua; */
    justify-content: space-between;
    gap: 135px;
}
.header-info{
    /* background-color: #E02C6D; */
    margin-top: 60px;
    width: 582px;
    height: 270px;
}
.header-tittle{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 16px;
}
.header-details{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}
.header-button{
    background-color: #E02C6D;
    width: 196px;
    text-align: center;
    padding: 2.5px 18px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 41px;
    margin-top: 16px;
}
.header-button a{
    text-decoration: none;
    color: white;
}
.header-banner img{
    margin: 31px 0;
    margin-right: 33px;
    width: 440px;
    height: 414px;
}
/* company section */
.companies{
    justify-content: center;
    display: flex;
    gap: 60px;
    padding: 36px 62px;
    margin: 0px 165px;
}
.first-companies{
    display: flex;
    align-items: center;
    gap: 60px;
}
/* product section */

.favourite{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
    margin: 100px 0 30px 0;
}
.products{
    display: grid;
    width: 1047px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-left: 110px;
}
.product{
    padding: 17px 9px;
    /* border: 1px solid; */
    height: 450px;
    width: 329px;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 1px rgb(183, 183, 183);

}
.product-img img{
    margin-left: 14px;
    width: 300px;
    height: 256px;
    margin-bottom: 0;
}
.product-details{
    margin-left: 14px;
}
.product-name{
    margin-top: 16px;
    font-size: 28px;
    margin-bottom: 0;
}
.product-cost{
    font-size: 24px;
    font-weight: 400;
    margin-top: 6px;
    margin-bottom: 0;
}
.rating{
    font-size: 14px;
}
.filled{
    color: #FB8200;
}
.shippin-info{
    font-size: 14px;
    font-weight: 700;
    color: #787885;
    margin-top: 7px;
}
.seemore{
    text-align: right;
    margin-right: 110px;
    margin-top: 50px;
    font-size: 16px;
    color: #E02C6D;
    margin-bottom: 23px;
}

/* featured section */
.featured-container{
    display: flex;
    /* background-color: #E02C6D; */
    align-items: center;
    justify-content: center;
    gap: 96px;
    margin-bottom: 100px;
}
.featured-thumbnail{
    margin-top: 36px;
}
.featured-thumbnail img{
    width: 404px;
    height: 270px;
}
.feature-tittle{
    font-size: 38px;
    font-weight: 700;
    color: #0A0826;
    margin-bottom: 0;
}
.f-details{
    width: 501px;
    height: 88px;
    font-weight: 700;
    color: #6c6c6c;
    font-size: 16px;
    margin-top: 16px;
}
.join-button{
    text-align: center;
    padding: 10px 24px;
    background-color: #E02C6D;
    color: white;
    font-size: 16px;
    font-weight: 700;
    width: 155px;
}
footer{
    margin: 0;
    text-align: center;
    width: 100%;
    height: 239px;
    background-color: #0A0826;
    color: white;
}
.footer-name{
    padding-top: 50px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0%;
}
.copy{
    margin-top: 3px;
    font-size: 14px;
}
.circle{

    background-color: #242138;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
}