/* common styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Open+Sans:ital@1&family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');
*{
     font-family: 'Poppins', sans-serif;
}
.container{
    margin: 10px 120px 0 120px;
}
/*********************************
********top-nav-bar styles********
**********************************/
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding-right: 34px;
    font-size: 16px;
    font-weight: 600;
}

/* header-info and thumnail styles */

.header-contents{
    display: flex;
    /* background-color: aqua; */
    justify-content: space-between;
    gap: 135px;
}
.header-info{
    /* background-color: #E02C6D; */
    margin-top: 60px;
    width: 582px;
    height: 270px;
}
.header-tittle{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 16px;
}
.header-details{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}
.header-button{
    background-color: #E02C6D;
    width: 196px;
    text-align: center;
    padding: 2.5px 18px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 41px;
    margin-top: 16px;
}
.header-button a{
    text-decoration: none;
    color: white;
}
.header-banner img{
    margin: 31px 0;
    margin-right: 33px;
    width: 440px;
    height: 414px;
}
/* company section */
.companies{
    justify-content: center;
    display: flex;
    gap: 60px;
    padding: 36px 62px;
    margin: 0px 165px;
}
.first-companies{
    display: flex;
    align-items: center;
    gap: 60px;
}